@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    background: url("bglogo123.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 19px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
#HighscoreBox{
    position: absolute;
    top: 69px;
    right: 122px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
#board{
    background: linear-gradient(to right top, #a1a1a1, #84b4d7, #00d1e3, #00e7a2, #a8eb12);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    background: linear-gradient(#f36b6b, rgb(255, 255, 112));
    border: 2px solid black;
    border-radius: 9px;
    transform: scale(1.02);
}

.snake{
    background-color: purple;
    border: 0.25vmin solid white;
    border-radius: 12px;
    
}
.food{
    background: linear-gradient(red, purple);
    border: 0.25vmin solid black;
    border-radius: 15px;
}